/* line 8, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index h1 {
  float: left;
  font-size: 1.4em;
  margin-left: 20px;
  margin-bottom: 19px;
  color: #555;
}
/* line 15, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index p {
  white-space: nowrap;
  float: left;
  font-weight: 400;
  margin-right: 30px;
  line-height: 35px;
}
/* line 22, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-nav-top {
  float: right;
}
/* line 25, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index tr.nav-tr {
  border-bottom: 3px solid #fff;
  border-top: 2px solid #d8cfcf;
}
/* line 29, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-navbar.clearfix {
  background: #f1f1f1;
  padding: 8px;
}
/* line 33, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-navbar.clearfix {
  background: #f1f1f1;
  padding: 8px;
}
/* line 37, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-item.row {
  background: #f9f9f9;
  margin-left: 0px;
  margin-right: 0px;
  font-size: .9em;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #f1f1f1;
}
/* line 48, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-6.col-sm-3 {
  margin-left: -18px;
}
/* line 51, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-7.col-sm-3 {
  /* margin-left: 20px; */
  padding-left: 58px;
}
/* line 55, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index i.fa.fa-trash {
  font-size: 1.2em;
}
/* line 58, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}
/* line 62, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-2.col-sm-10 {
  padding-left: 5px;
  /* margin-left: 5px; */
  padding-right: 0px;
}
/* line 67, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-7.col-sm-3 .cart-item-price {
  font-size: 1.5em;
  color: #e4393c;
}
/* line 71, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-7.col-sm-3 span {
  /* font-size: 1.5em; */
  color: #e4393c;
}
/* line 75, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-3.col-sm-5 {
  word-wrap: break-word;
  word-break: normal;
}
/* line 79, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .carts-index .cart-nav-top {
  float: right;
  margin-bottom: 0px;
  margin-top: 44px;
}
/* line 84, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .carts-index h1 {
  float: left;
  font-size: 1.4em;
  margin-left: 27px;
  margin-bottom: 19px;
  color: #555;
  margin-top: 48px;
}
/* line 92, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .total.clearfix {
  background: #f4f4f4;
  margin-top: 10px;
}
/* line 96, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index input.cart-item {
  float: left;
  margin-left: 20px;
  margin-top: 19px;
}
/* line 101, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .checkout-btn .btn {
  float: right;
  background: #e4393c;
  border: 1px solid #e4393c;
  border-radius: 0;
  padding-left: 33px;
  padding-right: 33px;
}
/* line 109, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .checkout-btn .btn:hover {
  background: #fff;
  color: #e4393c;
}
/* line 114, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .total-price {
  float: right;
  /* line-height: 30px; */
  /* margin-top: 20px; */
}
/* line 119, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .total-price p {
  /* line-height: 35px; */
  /* height: 100%; */
  /* padding-bottom: 0; */
  margin-bottom: 0;
  margin-top: 7px;
}
/* line 126, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index span.cart-item-total-price {
  color: #e4393c;
  font-size: 1.7em;
}
/* line 130, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-nav-top {
  float: right;
  margin-top: 22px;
  margin-bottom: -10px;
}
/* line 135, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index span.cart-item-total-price.cart-item-total-price-2 {
  font-size: 1.2em;
}
/* line 138, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-nav-top a.btn.btn-danger.pull-right {
  border-radius: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(243, 234, 234, 0.7);
  color: #e4393c;
  margin-left: 20px;
}
/* line 147, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-nav-top a.btn.btn-danger.pull-right:hover {
  background: #e4393c;
  color: #fff;
}
/* line 151, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .cart-item .bc-6.col-sm-3 {
  margin-left: -18px;
  padding-right: 1px;
  margin-right: 25px;
}
/* line 156, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .bc-7.col-sm-3 {
  margin-left: 2px;
  padding-left: 0;
  margin-right: -9px;
  /* z-index: 0; */
}
/* line 162, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.carts-index .all-select p {
  margin-top: 7px;
  margin-left: 13px;
  margin-bottom: 0;
}

/* line 172, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
h2#myModalLabel {
  font-size: 18px;
  text-align: center;
  color: #666;
}

/* line 177, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
input.btn.btn-primary {
  border: 0;
  border-radius: 0;
  padding: 5px;
  padding-left: 19px;
  padding-right: 19px;
  background: #e4393c;
}

/* line 185, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: #777;
}

/* line 195, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .address-item {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 3px solid #f1f1f1;
  color: #777;
}
/* line 203, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .address-item h4 {
  font-size: 15px;
  line-height: 20px;
  color: #777;
  height: 73px;
}
/* line 209, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .address-item:hover {
  background: #fe8e8e8;
  border: 3px solid #d2d2d2;
  cursor: pointer;
}
/* line 214, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .address-item.default-address-item {
  border: 3px solid #e4393c;
}
/* line 217, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html span.pull-right.label.label-success {
  background: #e88f8f;
  font-weight: 200;
  padding: 5px;
}
/* line 222, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .address-item a {
  font-size: .8em;
  font-weight: 200;
  text-decoration: underline;
  color: #999;
}
/* line 228, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html a.btn.btn-info.btn-xs.new-address-btn {
  background: #e4393c;
  border: 0;
  border-radius: 0;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 239, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .require-order {
  margin-top: 42px;
}
/* line 242, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .order-require-nav {
  background: #f5f5f5;
  padding: 6px;
  border: 1px solid #e5e5e5;
}
/* line 247, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .order-require-item {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: .9em;
}
/* line 255, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .col-sm-4.subtotal {
  color: #e4393c;
  font-size: 1.3em;
}
/* line 259, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .require-order .col-sm-5 {
  word-wrap: break-word;
  word-break: normal;
}
/* line 263, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .carriage {
  font-size: 14px;
  margin-top: 10px;
  padding-left: 25px;
  font-weight: 200;
  color: #666;
  background: #f9f9f9;
  width: 100%;
  text-align: right;
  border: 1px solid #e5e5e5;
}
/* line 274, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .carriage p {
  margin-bottom: 0;
  padding: 7px;
}
/* line 278, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html span.carriage-price {
  margin-right: 90px;
  color: #e4393c;
  font-weight: 500;
  font-size: 1em;
  margin-left: 47px;
}
/* line 285, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html span.bc-1 {
  margin-right: 100px;
}
/* line 288, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .require-order .total-money {
  background: #f1f1f1;
  margin-top: 4px;
  text-align: right;
  border: 1px solid #e5e5e5;
}
/* line 294, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .require-order h5 {
  margin-right: 82px;
  font-weight: 400;
  color: #777;
}
/* line 299, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .require-order h5 span.total {
  color: #e4393c;
  margin-left: 10px;
  font-weight: 500;
}
/* line 305, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail p.total-price {
  text-align: right;
  font-size: .96em;
  font-weight: 700;
}
/* line 309, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail p.total-price span.total-price-2 {
  color: #e4393c;
  font-size: 2em;
  margin-right: 50px;
  /* margin-top: 60px; */
}
/* line 316, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail {
  border: 2px solid #e4393c;
  padding-top: 24px;
  padding-bottom: 5px;
  padding-left: 15px;
}
/* line 317, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail span {
  font-size: .8em;
  color: #777;
}
/* line 321, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail p {
  font-size: .87em;
  color: #333;
  font-weight: 600;
}
/* line 326, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail p.address-1 {
  float: left;
  margin-bottom: 20px;
  margin-top: 2px;
}
/* line 331, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .detail p.contact-1 {
  margin-top: 10px;
}
/* line 339, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .order-require input.btn.btn-danger.btn-lg {
  width: 100%;
  border-radius: 0;
  background: #e4393c;
}
/* line 345, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .order-require input.btn.btn-danger.btn-lg:hover {
  color: #e4393c;
  background: #fff;
  border: 1px solid #e4393c;
}
/* line 350, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html .order-require .btn.col-sm-6 {
  padding: 0;
}
/* line 353, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html a.btn.btn-default {
  border: 0;
  color: #666;
}
/* line 357, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html span.btn.btn-danger.btn-lg.require-helper-2 {
  border-radius: 0;
  color: #fff;
  background: #e4393c;
}
/* line 362, /Users/liang/jd9-3/jd-store/app/assets/stylesheets/carts.scss */
.checkout-html span.btn.btn-danger.btn-lg.require-helper-2:hover {
  color: #e4393c;
  background: #fff;
}
