<div class="row">
	<div class="wel-bc-1">
		<%= render "slider" %>
	</div>

  <div class="wel-bc-2-1 wel-bc">
  	<div class="container lesson-block">
  		<div class="row">
  			<%= render "lesson" %>
  		</div>
  	</div>
  </div>

	<div class="wel-bc-2-2 wel-bc">
		<div class="container shopping-block">
			<div class="row">
				<%= render "shopping" %>
			</div>
		</div>
	</div>
</div>
