<div class="container text-center success-page">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="bc-2">
        <div class="success-img text-center">
          <img src="http://bucket1.hongliang.fun/blog/2017-05-30-Snip20170530_1.png" alt="join-cart-success">
        </div>
        <h5>支付成功！</h5>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= link_to "继续购物", root_path, class: "btn btn-default" %>
        </div>
        <div class="col-sm-6">
          <%= link_to "为网站投票", "http://t.cn/RSSdARt", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
