// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 以下是购物车
.carts-index {
h1 {
    float: left;
    font-size: 1.4em;
    margin-left: 20px;
    margin-bottom: 19px;
    color: #555;
}
p {
    white-space: nowrap;
    float: left;
    font-weight: 400;
    margin-right: 30px;
    line-height: 35px;
}
.cart-nav-top {
    float: right;
}
tr.nav-tr {
    border-bottom: 3px solid #fff;
    border-top: 2px solid #d8cfcf;
}
.cart-navbar.clearfix {
    background: #f1f1f1;
    padding: 8px;
}
.cart-navbar.clearfix {
    background: #f1f1f1;
    padding: 8px;
}
.cart-item.row {
    background: #f9f9f9;
    margin-left: 0px;
    margin-right: 0px;
    font-size: .9em;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #f1f1f1;
}
.bc-6.col-sm-3 {
    margin-left: -18px;
}
.bc-7.col-sm-3 {
    /* margin-left: 20px; */
    padding-left: 58px;
}
i.fa.fa-trash {
    font-size: 1.2em;
}
.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
}
.bc-2.col-sm-10 {
    padding-left: 5px;
    /* margin-left: 5px; */
    padding-right: 0px;
}
.bc-7.col-sm-3 .cart-item-price {
    font-size: 1.5em;
    color: #e4393c;
}
.bc-7.col-sm-3 span {
    /* font-size: 1.5em; */
    color: #e4393c;
}
.bc-3.col-sm-5 {
    word-wrap: break-word;
    word-break: normal;
}
.carts-index .cart-nav-top {
    float: right;
    margin-bottom: 0px;
    margin-top: 44px;
}
.carts-index h1 {
    float: left;
    font-size: 1.4em;
    margin-left: 27px;
    margin-bottom: 19px;
    color: #555;
    margin-top: 48px;
}
.total.clearfix {
    background: #f4f4f4;
    margin-top: 10px;
}
input.cart-item {
    float: left;
    margin-left: 20px;
    margin-top: 19px;
}
.checkout-btn .btn {
    float: right;
    background: #e4393c;
    border: 1px solid #e4393c;
    border-radius: 0;
    padding-left: 33px;
    padding-right: 33px;
}
.checkout-btn .btn:hover {

    background: #fff;
    color: #e4393c;
}
.total-price {
    float: right;
    /* line-height: 30px; */
    /* margin-top: 20px; */
}
.total-price p {
    /* line-height: 35px; */
    /* height: 100%; */
    /* padding-bottom: 0; */
    margin-bottom: 0;
    margin-top: 7px;
}
span.cart-item-total-price {
    color: #e4393c;
    font-size: 1.7em;
}
.cart-nav-top {
    float: right;
    margin-top: 22px;
    margin-bottom: -10px;
}
span.cart-item-total-price.cart-item-total-price-2 {
    font-size: 1.2em;
}
.cart-nav-top a.btn.btn-danger.pull-right {
    border-radius: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(243, 234, 234, 0.7);
    color: #e4393c;
    margin-left: 20px;
}
.cart-nav-top a.btn.btn-danger.pull-right:hover {
    background: #e4393c;
    color: #fff;
}
.cart-item .bc-6.col-sm-3 {
    margin-left: -18px;
    padding-right: 1px;
    margin-right: 25px;
}
.bc-7.col-sm-3 {
    margin-left: 2px;
    padding-left: 0;
    margin-right: -9px;
    /* z-index: 0; */
}
.all-select p {
    margin-top: 7px;
    margin-left: 13px;
    margin-bottom: 0;
}
}

// 以下是checkout页面
// 以下是增加收货地址
h2#myModalLabel {
    font-size: 18px;
    text-align: center;
    color: #666;
}
input.btn.btn-primary {
    border: 0;
    border-radius: 0;
    padding: 5px;
    padding-left: 19px;
    padding-right: 19px;
    background: #e4393c;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #777;
}

// 选择收货地址
.checkout-html {
.address-item {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid #f1f1f1;
        color: #777;

}
.address-item h4 {
    font-size: 15px;
    line-height: 20px;
    color: #777;
    height: 73px;
}
.address-item:hover {
    background: #fe8e8e8;
    border: 3px solid #d2d2d2;
    cursor: pointer;
}
.address-item.default-address-item {
    border: 3px solid #e4393c;
}
span.pull-right.label.label-success {
    background: #e88f8f;
    font-weight: 200;
    padding: 5px;
}
.address-item a {
    font-size: .8em;
    font-weight: 200;
    text-decoration: underline;
    color: #999;
}
a.btn.btn-info.btn-xs.new-address-btn {
    background: #e4393c;
    border: 0;
    border-radius: 0;
    font-weight: 200;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
}
// 确认订单信息
.require-order {
    margin-top: 42px;
}
.order-require-nav {
    background: #f5f5f5;
    padding: 6px;
}
.order-require-item {
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .9em;
}
.col-sm-4.subtotal {
    color: #e4393c;
    font-size: 1.3em;
}
.require-order .col-sm-5 {
    word-wrap: break-word;
    word-break: normal;
}
.carriage {
    font-size: 14px;
    margin-top: 10px;
    padding-left: 25px;
    font-weight: 200;
    color: #666;
    /* float: right; */
    background: #f9f9f9;
    width: 100%;
    text-align: right;
}
.carriage p {
    margin-bottom: 0;
    padding: 7px;
}
span.carriage-price {
    margin-right: 90px;
    color: #e4393c;
    font-weight: 500;
    font-size: 1em;
    margin-left: 47px;
}
span.bc-1 {
    margin-right: 100px;
}
.require-order .total-money {
    background: #f1f1f1;
    margin-top: 4px;
    text-align: right;
}
.require-order h5 {
    margin-right: 82px;
    font-weight: 400;
    color: #777;

  span.total {
    color: #e4393c;
    margin-left: 10px;
    font-weight: 500;
}
}
.detail p.total-price {
    text-align: right;
    font-size: .96em;
    font-weight: 700;
    span.total-price-2 {
    color: #e4393c;
    font-size: 2em;
    margin-right: 50px;
    /* margin-top: 60px; */
}
}
.detail {
  span {
      font-size: .8em;
      color: #777;
  }
   p {
      font-size: .87em;
      color: #333;
      font-weight: 600;
  }
  p.address-1 {
    float: left;
    margin-bottom: 20px;
    margin-top: 2px;
}
p.contact-1 {
    margin-top: 10px;
}
border: 2px solid #e4393c;
padding-top: 24px;
padding-bottom: 5px;
padding-left: 15px;
}

.order-require input.btn.btn-danger.btn-lg {
    width: 100%;
    border-radius: 0;

    background: #e4393c;
}
.order-require input.btn.btn-danger.btn-lg:hover {
    color: #e4393c;
    background: #fff;
    border: 1px solid #e4393c;
}
.order-require .btn.col-sm-6 {
    padding: 0;
}
a.btn.btn-default {
    border: 0;
    color: #666;
}
span.btn.btn-danger.btn-lg.require-helper-2 {
    border-radius: 0;
    color: #fff;
    background: #e4393c;
}
span.btn.btn-danger.btn-lg.require-helper-2:hover {

    color: #e4393c;
    background: #fff;
}
}
