// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson-show {
  .lesson-bc-1.clearfix {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    margin-top: 38px;

  }
  .lesson-page-nav {
    font-size: .85em;
    color: #888;
    margin-top: 10px;
    margin-bottom: -35px;
}
.lesson-page-nav a {
    color: #888;
    text-decoration: underline;
}
  .img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
      width: 94%;
      margin: 0 auto;
  }
  .lesson-intro {
      padding: 30px;
      font-size: 13px;
      color: #888;
      margin-top: 10px;
      padding-bottom: 0;
      margin-bottom: -28px;
      line-height: 25px;
  }
  .col-sm-7.bc-1-1 {
      padding: 49px;
      text-align: center;
      background: #f8f8f8;
      border-right: 1px solid #e5e5e5;
      height: 508px;
  }
  .col-sm-5.bc-1-2 {
    padding: 49px;
    max-height: 508px;
}
.row.lesson-title, .row.lesson-price, .row.lesson-subtitle {
    margin-left: 0;
    margin-right: 0;
    /* font-size: 3em; */
}
.lesson-title h5 {
    font-size: 1.4em;
    color: #555;
}
.lesson-subtitle p {
   margin-bottom: 15px;
}
.row.lesson-subtitle {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 3px;
    font-size: .96em;
    font-weight: 400;
    color: #777;
    margin-top: 23px;
}
.row.lesson-price {
    padding: 30px 20px;
    margin: 20px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background: #fff;
}
h6.price {
    font-size: 2.5em;
    color: #2dbe60;
}
p.effect {
    padding-bottom: 0;
    margin-bottom: 0px;
    font-size: .88em;
    margin-left: 20px;
    color: #777;
}
span.price-icon {
    font-size: 0.79em;
    margin-right: 2px;
    margin-left: 18px;
}
.payment-alert {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    font-size: .91em;
    color: #666;
}
.to-learn-btn {
    float: left;
}
.btn-success {
    color: #fff;
    background-color: #2dbe60;
    border-color: #4cae4c;
    font-size: 1.3em;
    margin-top: 9px;
    /* padding-bottom: 11px; */
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 11px;
}
.lesson-pay-btn {
    margin-top: 32px;
    /* padding-bottom: 11px; */
}
.btn-success:hover {
    color: #2dbe60;
    background-color: #fff;
    border-color: #2dbe60;
}
.lesson-bc-2 {
    background: #f9f9f9;
    margin-top: 57px;
    border: 1px solid #e5e5e5;
}
.lesson-intro-slogan {
    font-size: 1.5em;
    margin: 0 auto;
    width: 72%;
    padding-top: 44px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 45px;
}
.lesson-intro-slogan p {
    margin-bottom: 4px;
}

}


// 以下是syllabus页面

.syllabus-page {
  background: #f8f8f8;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 60px;


  .row.lesson-navbar {
    background: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
    // margin-left: -30px;
    // margin-right: -30px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.lesson-syllabus {
    float: right;
}

.lesson-title {
    float: left;
}
.container.lesson-content {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin: auto;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
    width: 64%;
    margin-top: 20px;
    padding-top: 46px;
    padding-left: 75px;
    padding-right: 75px;
}
.chapter-item {
    margin-bottom: 80px;
}
.chapter-item .chapter-title h5 {
    font-size: 1.5em;
    margin-bottom: 0px;
    color: #555;
}
.chapter-title {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 0px;
    padding-bottom: 6px;
}
p.post {
    margin-bottom: 0;
    /* color: #333; */
}
.post-item a {
    font-size: 1em;
    color: #666;
}
.post-item a:hover {
  text-decoration: none;
}
i.fa.fa-stop {
    color: #1ecd97;
    margin-right: 10px;
    margin-left: 10px;
}
.post-item {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.container.navbar-content {
    width: 53%;
}
.lesson-title {
    font-size: 1.4em;
    font-weight: 600;
    color: #666;
}
.lesson-syllabus a {
    color: #555;
    font-size: 1.4em;
}



}
