// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





// 加载中背影
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: 10s ease;
    animation: fadein-1 0.8s, fadeout-1 0.5s 2.5s;

}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
// 加载中背影结束

// 以下是payment-index
.payment-index {
  h1 {
    font-size: 1.7em;
    color: #555;
    margin-top: 39px;
}
.pay-alert-1 {
    border: 1px solid #7ED321;
    padding: 31px;
    color: #555;

  h4 {
    margin-bottom: 27px;
  }
}
.pay-alert {
    padding-top: 25px;
    border-top: 1px solid #d8d8d8;
    padding-bottom: 25px;
    border-bottom: 1px solid #d8d8d8;
}
.pay-alert img {
    width: 76px;
}
.col-sm-6.order-no {
    margin-left: -30px;

  p {
    margin-bottom: 0;
  }
}
.alipay-img img {
    width: 38px;
    float: left;
    margin-left: -5px;
    margin-right: 5px;
}
a#payha {
    font-size: 1.3em;
    background: #00a0e9;
    border: 0;
    float: right;
    margin-top: 9px;
    border-radius: 4px;
}
.alipay-img {
    width: 38px;
    height: 38px;
    float: left;
}
p.btn-font {
    margin-right: 7px;
    float: right;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 3px;
}
.payment-btn-font {
    float: right;
}
i.fa.fa-spinner.payment-btn-1.fa-spin.fa-fw {
    float: left;
    margin-top: 4px;
    margin-right: 3px;
    margin-left: -9px;
}

// 以下是收银台
.pay-counter-bc {
    position: fixed;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, .25);
    z-index: 8;
    transition: 2s ease;
}
.pay-counter.container {
    margin-top: 35px;
    background: #fff;
}
.pay-counter-nav {
    background: #f6f6f6;
    border-bottom: 1px solid #d1d1d1;
    text-align: center;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
}
.payment-counter-bc-1 {
    padding-top: 30px;
    border-bottom: 2px solid #e8e8e8;
    width: 90%;
    margin: 0 auto;
}
.bc-2 {
    text-align: center;
}
table {
    margin: 0 auto;
}
.alipay-logo img {
    width: 45px;
}
.alipay-logo.text-center {
    margin-top: -131px;
    margin-bottom: 92px;
}
.bc-2-2 {
    width: 217px;
    margin: 0 auto;
    padding-top: 6px;
    border: 1px solid #d4d4d4;
}
.bc-2-1 {
    padding-top: 62px;
    text-align: center;
    padding-bottom: 7px;
}
.bc-2-1 p {
    margin-bottom: 0px;
    margin-left: 16px;
}
h5.pay-total {
    color: #f60;
    font-size: 26px;
    font-weight: 700;
}
.payment-counter-bc-3 {
    width: 59%;
    margin: 0 auto;
}
.image-1 {
    float: right;
    margin-top: -81px;
    z-index: 3;
}
.image-2 {
    float: right;
    margin-right: -204px;
    margin-top: -81px;
}
.bc-2-3 p {
  color: #666;
    margin-bottom: 0px;
}
.bc-2-3 {
    padding: 8px;
}
.bc-2-3 img {
    float: left;
    /* padding: 16px; */
    margin-left: 23px;
    margin-top: 6px;
}
.alipay-app {
    text-align: center;
    margin-top: 4px;
    font-size: .8em;
    /* color: #e8e8e8; */
}
.alipay-app p a {
    margin: 0 0 10px;
    text-decoration: underline;
    color: #999;
}
.alipay-app {
    text-align: center;
    margin-top: 4px;
    font-size: .8em;
    /* color: #e8e8e8; */
    margin-bottom: 90px;
    width: 90;
}
 .payment-counter-bc-2 .pay-alert {
    padding-top: 25px;
    border-top: 1px solid #d8d8d8;
    padding-bottom: 25px;
    border-top: 2px solid #e8e8e8;
    width: 90%;
    margin: 0 auto;
}
a.btn.btn-default {
    border: 0;
    padding: 0 2px;
    color: #266ac7;
}
i.fa.fa-times {
    float: right;
    color: #888;
    line-height: 27px;
    padding-right: 7px;
}
i.fa.fa-times:hover {
  color: #e4393c;
}
.image-alert:hover {
    cursor: pointer;
}
#pay_qrcode_helper {
    width: 215px;
    height: 205px;
}
.success-img.text-center {
    margin-top: 30px;
    margin-bottom: 20px;
}


}

// 以下是success页面
.success-page{

.bc-2 {
    padding-top: 108px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 10px;
}
a.btn {
    width: 100%;
    border-radius: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 1.2em;
}
a.btn.btn-primary:hover {
  border: 1px solid #337ab7;
  background: #e8e8e8;
  color: #337ab7;
}
h5 {
    font-size: 2em;
    color: #555;
    margin-left: 19px;
    margin-top: 20px;
}









}
