// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.select-item-active {
  border: 4px solid red;
}
div#5r {
  width: 38px !important;
}
//导航条变红色
.product {
  background-image: url("http://olmrxx9ks.bkt.clouddn.com/blog/2017-05-24-%E5%88%9B%E6%84%8F%E8%8A%B1%E8%94%93%E8%8A%B1%E7%BA%B9%E7%9F%A2%E9%87%8F%E7%B4%A0%E6%9D%90.jpg");
}
.product .navbar {

  background: rgba(255, 0, 54, .7);
}

// bootstrap-tab
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #f5eded;
    background-color: #e3220d;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    color: #666;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    background: #ffeded;
}

// 以下是蛋人网的
h1 {
  display: block;
}

.list-group-item {
  label {
    font-weight: normal;
  }

  a {
    display: block;

    &.inline {
      display: inline-block;
    }
  }
}
.msrp {
  text-decoration: line-through;
}
.thumbnail {
  height: 290px;
  &.detail {
    height: auto;
  }
  a.title {
    color: #333;
  }
}

.media {
  &.shopping-cart-row {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }
}
a.add-to-cart-btn {
  i {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar-form .form-control.search-input {
    width: 400px
  }
}

// 次导航栏
.subnavbar {
    background: #f1f1f1;
    margin: 0 -30px;
    padding: 13px;
    font-size: 10px;
    color: #888;
}
.subnavbar a {
  color: #888;
}
.product-bc-2 {
  color: #666;
}
.product-bc-2 h4 {
  font: 700 16px Arial,"microsoft yahei";
  color: #666;
  line-height: 28px;
  margin-bottom: 15px;
}
.product-bc-2 .slogan {
  color: #e4393c;
  font-size: .8em;
}
.price-bc {
  font-size: 10px;
  background-image: url("http://olmrxx9ks.bkt.clouddn.com/blog/2017-05-24-%E4%B8%8B%E8%BD%BD.png");
  margin-right: 30px;
}
.price-bc-2 {
  // background-color: ;
  padding: 25px;
  padding-bottom: 4px;
}
span#msrp {
    margin-left: 20px;
    /* color: #e4393c; */
    text-decoration: line-through;
    color: #888;
}
span#price {
    color: #e4393c;
    position: relative;
    font-size: 2.6em;
    top: 4px;
    font-weight: 300;
}
span.price-icon {
    font-size: .7em;
    margin-right: 7px;
    margin-left: 20px;
}
.price-bc p {
    color: #888;
    font-weight: 300;
}
#price s {
  position: absolute;
width: 0;
display: block;
font-size: 0;
left: -4px;
bottom: 0;
height: 0;
border: 3px solid #f47a86;
border-color: transparent #f47a86 #f47a86 transparent;
}
span.label.label-danger {
    background-color: #f47a86;
    border-radius: 1px;
    color: #fff;
    height: 16px;
    line-height: 16px;
    margin: 0 2px 4px 6px;
    padding: 1px 5px;

}
.eva_count {
    float: right;
    text-align: center;
    padding-right: 3px;
    line-height: 7px;
    font-weight: 200;
    margin-top: -10px;
    padding-top: 7px;
    border-right: 1px solid #999;
    color: #999;
}
.sale_count {
    float: right;
    line-height: 7px;
    margin-right: -8px;
    margin-top: -10px;
    padding-top: 7px;
    margin-left: 3px;
    text-align: center;
    color: #999;
    font-weight: 200;
}
.price-bc-2 .p2 {
  margin-bottom: 0;
  color: #888;
}
.carriage {
    font-size: 12px;
    margin-top: 15px;
    padding-left: 25px;
    font-weight: 300;
    color: #888;
}
.carriage span {
    margin-right: 30px;
}
span.trace {
    margin-left: 20px;
    margin-right: 0;
}
// 以上是弹出选择提示框
.select-alert {
    // border: 3px solid #e4393c;
    // padding: 17px;
}
.alert-log {
    background: #f1f1f1;
    color: #777;
    display: none;
}
i.fa.fa-times {
    float: right;
    color: red;
    line-height: 19px;
    padding-right: 7px;
}
i.fa.fa-times:hover {
  cursor:pointer
}
// 以上是弹出选择提示框
.select_product {
    margin-right: 30px;
    font-size: .8em;
    font-weight: 400;
    color: #888;
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.select_product .col-sm-10 {
  margin-left: -30px;
}
.select_product img.img-responsive {
    float: left;
    width: 40px;
    height: 40px;
}
.select_item {
    display: inline-flex;
    border: 2px solid #f1f1f1;
    margin-right: 7px;
    float: left;
    background: #f8f8f8;
}
.select_item h5 {
    font-size: 1em;
    font-weight: 400;
    margin: auto 10px;
}
.quantity-group {
    margin-left: 15px;
    margin-right: 15px;
    font-size: .8em;
    color: #888;
    // float: right;
    padding: 20px;
}
p.quantity-slogan {
    float: left;
    margin-right: 25px;
    line-height: 31px;
}
.quantity-group .btn-item-1 p {
    text-align: center;
    margin-top: 3px;
    font-weight: 200;
}
.select-quantity {
    float: left;
}

.product-bc-2 .join-cart-btn .btn-item-2 .btn {
  background: #ffeded;
  border-radius: 0;
  font-size: 1.2em;
  padding: 10px 10px;
  width: 100%;
  color: #e4393c;
}
.product-bc-2 .join-cart-btn .btn-item-2 .btn:hover {
  background: #e4393c;
  color: #fff;
}

.product-bc-2 .join-cart-btn .btn-item-3 .btn {
  background: #e4393c;
  border-radius: 0;
  font-size: 1.2em;
  padding: 10px 10px;
  width: 100%;
}
.product-bc-2 .join-cart-btn .btn-item-3 .btn:hover {
  background: #ffeded;
  color: #e4393c;
}
.join-cart-btn {
    // float: right;
    padding: 30px;
    padding-top: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.btn-item.btn-item-3 {
    // float: right;
    // margin-right: 30px;
    // margin-left: 10px;
}
.btn-item.btn-item-2 {
    // float: right;
    // margin-right: 30px;
}

p.quantity-item-2 {
    float: left;
    line-height: 31px;
    margin-left: 20px;
}
.payment-method {
    font-size: .8em;
    font-weight: 200;
}

// 以下是商品介绍

.row.product-bc-3 {
    margin-top: 97px;
}
.nav-tabs {
    border: 1px solid #ddd;
    background: #f9f9f9;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #e4393c;
    background-color: #fff;
    border: 1px solid #e4393c;
    cursor: default;
    border-radius: 0;
}


// 以下是随机商品介绍
.rand_product-slogan {
    height: 43px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    /* width: 100%; */
    margin-left: -15px;
    border-bottom: 1px solid #e4393c;
    margin-right: -15px;
    text-align: center;
}
.rand_product-slogan h4 {
    font-size: 1em;
    line-height: 29px;
    font-weight: 400;
    color: #777;
}
.row.rand_product-item {
    margin-top: 20px;
    box-shadow: 1px 1px 1px #ddd;
    transition: box-shadow 0.5s;
    font-size: .9em;
    font-weight: 200;
    color: #777;
    border: 1px solid #ddd;
}
.rand_product a:hover {
  text-decoration: none;
  .rand_product-item p{
    color: #e4393c;
  }

}
p.rand_product-title {
    padding: 10px 15px 5px;
    line-height: 22px;
    margin-bottom: 0;
}
p.rand_product-price {
    color: #e4393c;
    font-size: 1.3em;
    margin-left: 28px;
    font-weight: 600;
    margin-bottom: 0;
    /* text-align: center; */
    margin-top: -5px;
}
.rand_product-price span {
    font-size: .8em;
}

// 以下是商品参数
.params-slogan {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 1em;
    color: #777;
    margin-bottom: 16px;
}
.row.product-params-bc {
    width: 90%;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    padding-bottom: 14px;
}
.params-item.col-sm-3 {
    font-size: .8em;
    font-weight: 200;
    color: #777;
    padding: 6px;
}
.row.product-params-bc {
    width: 90%;
    margin: 0 auto;
}


// 以下是商品评价
p.eva-title {
    font-size: 17px;
    font-weight: 400;
    color: #666;
    padding: 25px;
}
.row.product-eva {
    margin: auto 0px;
    /* background: #333; */
}
p.eva-nil {
    font-size: 1em;
    color: #888;
    margin: 20px;
}


// 以下是markdown
.intro-markdown {
    margin-top: -22px;
}
// 以下 是contact-top
div#contacttop {
    // background: red;
    margin: 0 -15px;
    opacity: .9;
    position: fixed;
    width: 100%;
    height: 52px;
    top: 0;
    // display: fixed;
    z-index: 999;
    transition: 2s ease;
}
#contacttop {
  display: none;
  background-image: url("http://olmrxx9ks.bkt.clouddn.com/blog/2017-05-26-WechatIMG385-1.jpeg");
}
.container-fluid.contact-top {
    width: 100%;
    /* margin: 0 -15px; */
    padding: 0;
    height: 100%;
    // opacity: .75;
.product-image {
    float: left;
}
 img.img-responsive {
    width: 48px;
    border: 1px solid #fff;
    margin: 2px;
}
h4 {
    float: left;
    margin-left: 20px;
    line-height: 33px;
    color: #fff;
    font-size: 1.2em;
}
span.btn.btn-danger {
    float: right;
    /* background: #f1d6d6; */
    /* margin-right: 60px; */
    border-radius: 0;
    background: #fff;
    padding: 8px;
    width: 139px;
    margin-top: 4px;
    margin-left: 4px;
    /* color: #333; */
    font-size: 17px;
    color: #e4393c;
    border: 2px solid #f16464;
}
.buy-btn {
    margin-right: 91px;
}
span.btn.btn-danger:hover {
    float: right;
    /* background: #f1d6d6; */
    /* margin-right: 60px; */
    border-radius: 0;
    background: #e4393c;
    padding: 8px;
    width: 139px;
    margin-top: 4px;
    margin-left: 4px;
    /* color: #333; */
    font-size: 17px;
    color: #fff;
    border: 2px solid #f16464;
}
}
// 以下是contact条
#contacttop.show {
    display: block !important; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein-1 0.5s, fadeout-1 0.5s 2.5s;
    animation: fadein-1 0.5s, fadeout-1 0.5s 2.5s;
}
@keyframes fadein-1 {
    from {top: 0; opacity: 0;}
    to {top: 0; opacity: 1;}
}
// contacttop条结束
